body{

    background:black;
    color:aqua;
    margin: 0px;
    font-family: "Teko", sans-serif;
}
header{
    border-bottom: solid 1px white;
    padding: 20px;
    font-size: 50; 
}
section{
    background: rgb(126 151 167);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}
.titulo-video{
    margin-right: 5%;
    font-size: 15px;
}
img{
    height:200px;
}
.fila-videos {
    display:flex;
    overflow-x:auto;
}
